:root{
    --ModerateViolet: hsl(263, 55%, 52%);
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --VeryDarkBlackishBlue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(0, 0%, 81%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--LightGrayishBlue);
    position: relative;
}

.wrap, .wrap-right, .wrap-left{
    width: 80%;
    min-width: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin:  30px 0;
}
  
.card{
    width: 80%;
    min-width:330px;
    max-width: 400px;
    padding: 30px 41px;
    border-radius: 7px;
    margin-top: 23px;
    box-shadow: 5px 8px 10px var(--LightGray);
}
.author-info{
    display: flex;
}
.pic{
    border-radius: 50%;
    height: 32px;
    width: 32px;
    overflow: hidden;
}
.pic img{
    width: 29px;
}

.item1 .pic,
.item4 .pic{
    border: hsla(263, 33%, 67%, 0.7) 2px solid;
}

.item2 .pic,
.item3 .pic,
.item5 .pic{
    border: var(--White) 2px solid;
}

.name {
    margin-left: 20px;
}
.name h3{
    font-weight: 500;
    font-size: 13px;
}
.name p{
    font-weight: 400;
    font-size: 5px;
    opacity: 50%;
}
.article{
    margin-top: 20px;
}
.article h1{
    font-weight: 600;
    font-size: 19px;
}

.article p{
    margin-top: 18px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    opacity: 70%;
}
  
.item1{
    background: 
    url(./images/bg-pattern-quotation.svg) right top no-repeat, var(--ModerateViolet);
    color: var(--White);
}
.item2,
.item4{
    background-color: var(--VeryDarkGrayishBlue);
    color: var(--White);
}
.item3, 
.item5{
    background-color: var(--White);
    color: var(--VeryDarkGrayishBlue);
}
.item5{
    margin-top: -37px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    width: 100%;
    position: fixed;
    bottom: 0;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 769px) {
    .wrap{
        width: 90%;
        margin: 90px 0;
        flex-direction: row;
        justify-content: center;
        /* align-items: normal; */
    }
    .wrap-left{
        max-width: 900px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center
        /* justify-content: flex-end; */
        /* align-items: normal; */
        
    }
    .wrap-right{
        max-width: 280px;
        /* align-items: normal; */
    } 
    
    
    .card{
        margin: 10px;
        min-width:260px;
        max-width: 520px;
        
    }
    
    .card.item1, 
    .card.item4{
        max-width: 520px;
        height: 307px;
    }
    .card.item2, 
    .card.item3{
        max-width: 260px;
        height: 307px;
    }
    .item3, .item4{
        /* order: 2; */
        justify-items: start;
    }
    .item5{
        margin-top: -37px;
    }
}
@media only screen and (min-width: 1389px) {
    .container{
        height: 100hv;
    }
   
    .wrap, .wrap-left, .wrap-right{
        align-items: normal;
        
    }
    .wrap-left{
        justify-content: flex-end;
    }
    .card.item5{
        max-width: 260px;
        min-height: 635px;
        margin-top: 7px;
    }

}
